

proyecto/.idea/inspectionProfiles/Project_Default.xml
proyecto/.idea/misc.xml
*.xml
*.iml
*.exe
proyecto/cmake-build-debug/.cmake/api/v1/query/cache-v2
proyecto/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
*.json
proyecto/cmake-build-debug/.ninja_log
*.ninja
proyecto/cmake-build-debug/.ninja_deps
*.cmake
*.txt
*.bin
proyecto/cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.c
proyecto/cmake-build-debug/CMakeFiles/3.23.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
proyecto/cmake-build-debug/CMakeFiles/cmake.check_cache
*.log
*.obj
*.o
*.o
proyecto/obj/Debug/People.o

proyecto/proyecto/obj/Debug/Region.o
proyecto/.idea/modules.xml

